* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffff;
}

a {
    text-decoration: none;
}

.padding-container {
    padding: 0px 80px;
}

.w-100 {
    width: 100%;
}

.title {
    border-left: 4px solid var(--danger);
    color: var(--dark);
    padding: 10px 20px;
    background-color: #F3F3F3;
    border-bottom: 2px solid var(--danger);
    text-transform: uppercase;
}

/* COMOMOM */
.header-top {
    background-color: #F3F3F3;
    height: 45px;
}

.header-top-form {
    /* float: right; */
    line-height: 45px;
    text-align: right;
}

.header-top-form input {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #777;
}

.header-top-form button {
    width: 30px;
    height: 30px;
    background-color: var(--danger);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.header-menu {
    background-color: var(--danger);
    height: 45px;
}

.header-menu-list {
    display: flex;
    justify-content: start;
    line-height: 45px;
    list-style-type: none;
}

.header-menu-list a {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
}

.header-menu-list a:hover {
    background-color: var(--white);
    color: var(--danger);
    border-radius: 5px;
}

.header-content marquee {
    padding: 15px 0px;
}

.footer-info {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--danger);
    padding: 30px 80px;
    margin-top: 30px;
}

.footer h3 {
    color: var(--info);
}

.footer p {
    color: var(--gray-dark);
}

/* ------ */

.menu-dropdown{
    cursor: pointer;
}

.header-menu-sub {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.header-menu-sub a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: var(--danger);
    font-size: 13px;
}

.header-menu-sub a:hover {
    background-color: var(--danger);
    color: var(--white);
}

.header-menu-sub-li:hover .header-menu-sub {
    display: block;
    transition: all ease-in 0.3s;
}